.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#wrapper {
  padding: 20px;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f6f8;
  margin: 0;
  padding: 0;
}

h2 {
  color: #333;
  margin-bottom: 15px;
}

/* Form Styles */
form {
  width: 100%;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  width: auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}

button {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}

/* Table Styles */
table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  overflow: visible;
}

th, td {
  padding: 10px;
  text-align: left;
  border: 1px solid #eee;
}

th.sticky-header{
  position: sticky;
  top: 0;
  background-color: #f4f0fa; /* light lavender background for visibility */
  z-index: 1;
  border: none;
  border-bottom: 1px solid #282c34;
}

tr:hover {
  background-color: #f9f9f9;
}
/*--------------------------------------------
ENUM PICKER
----------------------------------------------*/
.enum-picker {
  position: relative;
  display: inline-block;
  width: 100%;
}

.picker-display {
  padding: 6px 12px;
  background: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.picker-options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: white;
  border: 1px solid #ccc;
  z-index: 9999; /* ensures it's above the table */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  list-style: none;
  margin: 4px 0 0 0;
  padding: 0;
}

.picker-options li {
  padding: 6px 12px;
  cursor: pointer;
}

.picker-options li:hover,
.picker-options .selected {
  background-color: #4b0082;
  color: white;
}
/*--------------------------------------------
ENUM PICKER  END
----------------------------------------------*/